* {
    box-sizing: border-box;
    font-family: "Open Sans", arial, sans-serif;
}

.background-header {

    height: 70vh;
    width: 30vm;
    background-size: cover;
    background: url(../img/testabout.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;

}

.title img {
    width: 10%;
}

.container {
    padding: 40px;
}

.text-header {
    padding-top: 10%;
    padding-right: 30%;
    color: white
}

.text-header h1 {
    font-size: 100px
}

.project {
    display: inline-block;
}

.feature {
    font-size: 40px;
    color: #636c72;
}

.view-btn {
    text-align: right;
}

.card img {
  width:100%;
  height:auto;
}
